{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
            FakePinterest
        {% endblock %}
    </title>

    <link rel="icon" type="imagex/png" href="{% static 'images/logo.ico' %}" >
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block header %}
        <header>
            {% include 'navbar.html' %}
        </header>
    {% endblock %}

    <main>
        {% block main %}
            {% block modal %}
            {% endblock %}
        {% endblock %}
    </main>

    {% block footer %}
        <footer>
            <ul class="flex">
                <li>&copy; 2024</li>
                <li>Feito com Django</li>
                <li>FakePinterest</li>
            </ul>
        </footer>
    {% endblock %}
</body>
</html>