{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Criar post - FakePinterest
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <section class="secao flex">
        <form class="flex col" method="post" enctype="multipart/form-data">
                {% csrf_token %}

            <div class="div-form-container flex col">
                <h1>Crie seu post:</h1>
                
                <div class="form-campos-imagem flex">
                    <div class="campo-imagem flex col">
                        <img id="imagem-preview-post" src="{% static 'images/default-image.jpg' %}" alt="Preview da Imagem" >

                        <input type="file" name="imagem" id="imagem" accept="image/*" onchange="previewImage(event)" required>
                    </div>

                    <div class="form-campos flex col">
                        <div class="form-campo flex col">
                            <div class="div-label-input flex col">
                                <label for="titulo">Título:</label>
                                <input type="text" name="titulo" id="titulo" placeholder="Título do post" maxlength="120" autocomplete="off" required>
                            </div>
                        </div>
                        
                        <div class="form-campo">
                            <div class="div-label-input flex col">
                                <label for="descricao">Descrição:</label>
                                <textarea name="descricao" id="descricao" placeholder="Descrição do post" maxlength="250" autocomplete="off" cols="20" rows="8" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="botao-legenda flex col">
                    <button class="botao" type="submit">Fazer Post</button>
                </div>
            </div>
        </form>
    </section>

    <script src="{% static 'js/preview-imagem.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}